<!--  <div class="container-fluid">-->


<!--      <a [routerLink]="['/']" class="navbar-brand"><h1>Order Chef</h1></a>-->
<!--      <a [routerLink]="['/ourservices']" class="nav-link">Our Services</a>-->
<!--      <a [routerLink]="['/aboutus']" class="nav-link" >About</a>-->
<!--      <a [routerLink]="['/contactus']"  class="nav-link" >Contact Us</a>-->
<!--      <a [routerLink]="['/login']" class="nav-link">Log In</a>-->
<!--      <a [routerLink]="['/signup']" class="nav-link">Sign Up</a>-->
<!--  </div>-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Courgette%3Aregular&amp;subset=latin%2Clatin-ext&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif%3Aregular%2Citalic%2C700%2C700italic&amp;subset=latin&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee%3Aregular%2Citalic&amp;subset=latin&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dancing+Script:regular|Courgette:regular' type='text/css' media='all' />


    <link rel='stylesheet' href='assets/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/superfish/css/superfish.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/dl-menu/component.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/font-awesome-new/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/fancybox/jquery.fancybox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/flexslider/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/style-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/style-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/masterslider/public/assets/css/masterslider.main.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/master-custom.css' type='text/css' media='all' />



</head>

<body data-rsssl=1 class="home page-template-default page page-id-4474 _masterslider _msp_version_3.2.7 woocommerce-no-js tribe-no-js">
    <div class="body-wrapper  header-style-1" >
        <header class="gdlr-header-wrapper" id="gdlr-header-wrapper">
            <div class="gdlr-header-inner">
                <div class="gdlr-header-container container">
                    <div class="gdlr-header-container-overlay"></div>
                    <div class="gdlr-header-container-inner">

                        <!-- navigation -->
                        <div class="gdlr-navigation-wrapper" *ngIf="validUser">
                            <nav class="gdlr-navigation" id="gdlr-main-navigation" role="navigation">
                                <ul id="menu-main-menu-1" class="sf-menu gdlr-main-menu">
                                  <li class="menu-item menu-item-home current-menu-item gdlr-normal-menu" style="alignment:revert; padding-right:300px"><a [routerLink]="['/']" class="navbar-brand"><h3 style="color: white">Order Chef</h3></a></li>
                                    <li class="menu-item menu-item-home current-menu-item gdlr-normal-menu"><a [routerLink]="['/']" class="navbar-brand">Home</a></li>
                                    <li class="menu-itemmenu-item gdlr-normal-menu"><a [routerLink]="['/ourservices']" class="nav-link">Search</a></li>
                                    <li class="menu-item"><a [routerLink]="['/aboutus']" class="nav-link" >About</a></li>
                                    <li class="menu-item"><a [routerLink]="['/contactus']"  class="nav-link" >Contact Us</a></li>
                                    <li class="menu-item"><a (click)="logout()"  class="nav-link" >Log out</a></li>
                                    <li class="menu-item"><a [routerLink]="['/']" class="navbar-brand">{{this.username}}</a></li>
                                </ul>
                            </nav>
                            <div class="gdlr-navigation-gimmick" id="gdlr-navigation-gimmick1"></div>
                            <div class="clear"></div>
                        </div>

                      <div class="gdlr-navigation-wrapper" *ngIf="!validUser">
                            <nav class="gdlr-navigation" id="gdlr-main-navigation2" role="navigation">
                                <ul id="menu-main-menu-2" class="sf-menu gdlr-main-menu">
                                  <li class="menu-item menu-item-home current-menu-item gdlr-normal-menu" style="alignment:revert; padding-right:550px"><a [routerLink]="['/']" class="navbar-brand"><h3 style="color: white">Order Chef</h3></a></li>
                                    <li class="menu-item menu-item-home current-menu-item gdlr-normal-menu"><a [routerLink]="['/']" class="navbar-brand">Home</a></li>
                                    <li class="menu-item"><a [routerLink]="['/aboutus']" class="nav-link" >About</a></li>
                                    <li class="menu-item"><a [routerLink]="['/login']"  class="nav-link" >Log in</a></li>
                                    <li class="menu-item"><a [routerLink]="['/signup']"  class="nav-link" >Sign up</a></li>
                                </ul>
                            </nav>
                            <div class="gdlr-navigation-gimmick" id="gdlr-navigation-gimmick"></div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

	<script type='text/javascript' src='assets/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='assets/js/jquery/jquery-migrate.min.js'></script>
    <script>
        var ms_grabbing_curosr = 'assets/plugins/masterslider/public/assets/css/common/grabbing.html',
            ms_grab_curosr = 'assets/plugins/masterslider/public/assets/css/common/grab.html';
    </script>
    <script type='text/javascript' src='assets/plugins/superfish/js/superfish.js'></script>
    <script type='text/javascript' src='assets/js/hoverIntent.min.js'></script>
    <script type='text/javascript' src='assets/plugins/dl-menu/modernizr.custom.js'></script>
    <script type='text/javascript' src='assets/plugins/dl-menu/jquery.dlmenu.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery.easing.js'></script>
    <script type='text/javascript' src='assets/plugins/fancybox/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='assets/plugins/fancybox/helpers/jquery.fancybox-media.js'></script>
    <script type='text/javascript' src='assets/plugins/fancybox/helpers/jquery.fancybox-thumbs.js'></script>
    <script type='text/javascript' src='assets/plugins/flexslider/jquery.flexslider.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery.isotope.min.js'></script>
    <script type='text/javascript' src='assets/js/plugins.min.js'></script>
    <script type='text/javascript' src='assets/plugins/masterslider/public/assets/js/masterslider.min.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery.transit.min.js'></script>
    <script type='text/javascript' src='assets/plugins/gdlr-portfolio/gdlr-portfolio-script.js'></script>
