<!--  <div class="container-fluid">-->
      <a [routerLink]="['/']" class="navbar-brand"><h1>Order Chef</h1></a>
      <a [routerLink]="['/ourservices']" class="nav-link">Our Services</a>
      <a [routerLink]="['/aboutus']" class="nav-link" >About Us</a>
      <a [routerLink]="['/contactus']"  class="nav-link" >Contact Us</a>
      <a [routerLink]="['/login']" class="nav-link">Log In</a>
      <a [routerLink]="['/signup']" class="nav-link">Sign Up</a>
<!--  </div>-->
<!--    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Courgette%3Aregular&amp;subset=latin%2Clatin-ext&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif%3Aregular%2Citalic%2C700%2C700italic&amp;subset=latin&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee%3Aregular%2Citalic&amp;subset=latin&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />-->

<!--    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dancing+Script:regular|Courgette:regular' type='text/css' media='all' />-->


<!--    <link rel='stylesheet' href='../../assets/css/style.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/plugins/superfish/css/superfish.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/plugins/dl-menu/component.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/plugins/font-awesome-new/css/font-awesome.min.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/plugins/fancybox/jquery.fancybox.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/plugins/flexslider/flexslider.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/css/style-responsive.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/css/style-custom.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/plugins/masterslider/public/assets/css/masterslider.main.css' type='text/css' media='all' />-->
<!--    <link rel='stylesheet' href='../../assets/css/master-custom.css' type='text/css' media='all' />-->

<!--        <header class="gdlr-header-wrapper" id="gdlr-header-wrapper">-->
<!--            <div class="top-navigation-wrapper">-->
<!--                <div class="top-navigation-container container">-->
<!--                    <div class="top-navigation-left">-->
<!--                        &lt;!&ndash;<span class="top-bar-block"><i class="fa fa-phone"></i>123456789</span>&ndash;&gt;-->
<!--                        <span class="top-bar-block"><i class="fa fa-envelope"></i>contact@fbuddy.com</span> </div>-->
<!--                    <div class="top-navigation-right">-->
<!--                        <div class="top-social-wrapper">-->
<!--                            <div class="social-icon">-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <img width="32" height="32" src="../../assets/images/light/social-icon/facebook.png" alt="Facebook" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="social-icon">-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <img width="32" height="32" src="../../assets/images/light/social-icon/flickr.png" alt="Flickr" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="social-icon">-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <img width="32" height="32" src="../../assets/images/light/social-icon/linkedin.png" alt="Linkedin" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="social-icon">-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <img width="32" height="32" src="../../assets/images/light/social-icon/pinterest.png" alt="Pinterest" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="social-icon">-->
<!--                                <a href="#" target="_blank">-->
<!--                                    <img width="32" height="32" src="../../assets/images/light/social-icon/twitter.png" alt="Twitter" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="clear"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="gdlr-header-substitute" id="gdlr-header-substitute"></div>-->
<!--            <div class="gdlr-header-inner">-->
<!--                <div class="gdlr-header-container container">-->
<!--                    <div class="gdlr-header-container-overlay"></div>-->
<!--                    <div class="gdlr-header-container-inner">-->

<!--                        &lt;!&ndash; navigation &ndash;&gt;-->
<!--                        <div class="gdlr-navigation-wrapper">-->
<!--                            <nav class="gdlr-navigation" id="gdlr-main-navigation" role="navigation">-->
<!--                                <ul id="menu-main-menu-1" class="sf-menu gdlr-main-menu">-->

<!--                                    <li class="menu-item menu-item-home current-menu-item gdlr-normal-menu"><a href="index.html">Home</a></li>-->
<!--                                    &lt;!&ndash;<li class="menu-item"><a href="menu-mixed.html">Menu</a></li>&ndash;&gt;-->
<!--                                    <li class="menu-itemmenu-item gdlr-normal-menu"><a href="search.html">Search</a></li>-->

<!--                                    &lt;!&ndash;<li class="menu-item"><a href="blog-3-columns.html">Restaurants</a></li>&ndash;&gt;-->

<!--                                    <li class="menu-item"><a href="about-us.html">About</a></li>-->
<!--                                    <li class="menu-item"><a href="contact-page.html">Contact Us</a></li>-->

<!--                                </ul>-->
<!--                                &lt;!&ndash;<img id="gdlr-menu-search-button" src="../../assets/images/magnifier-light.png" alt="" width="58" height="59" />&ndash;&gt;-->
<!--                                <div class="gdlr-menu-search" id="gdlr-menu-search">-->
<!--                                    <form method="get" id="searchform" action="#">-->
<!--                                        <div class="search-text">-->
<!--                                            <input type="text" value="Type Keywords" name="s" autocomplete="off" data-default="Type Keywords" />-->
<!--                                        </div>-->
<!--                                        <input type="submit" value="" />-->
<!--                                        <div class="clear"></div>-->
<!--                                    </form>-->
<!--                                </div>-->

<!--                            </nav>-->
<!--                            <div class="gdlr-navigation-gimmick" id="gdlr-navigation-gimmick"></div>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->
<!--                        <div class="clear"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </header>-->
