<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form class="form-signin" #f="ngForm" (ngSubmit)="userSignin(f.value)">
        <div >
	        <h3 class="form-signin-heading">Sign UP</h3>
	        <p>Please fill in this form to create an account.</p>

          <label for="inputFname" class="sr-only">First Name</label>
          <input type="text" id="inputFname" name="fname" ngModel class="form-control" placeholder="First Name" required autofocus>
          <br> <br>
          <label for="inputLname" class="sr-only">Last Name</label>
                <input type="text" id="inputLname" name="lname" ngModel class="form-control" placeholder="Last Name" required autofocus>
          <br> <br>
          <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email" required autofocus>
          <br> <br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
          <br> <br>
          <label for="inputCPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="inputCPassword" name="password" ngModel class="form-control" placeholder="Confirm Password" required>
          <br> <br>
          <label for="inputNat" class="sr-only">Nationality</label>
          <input type="text" id="inputNat" name="nat" ngModel class="form-control" placeholder="Nationality" required autofocus>
          <br> <br>
          <label for="inputBdate" class="sr-only">Date of Birth</label>
                <input type="date" id="inputBdate" name="bdate" ngModel class="form-control" placeholder="Date of Birth" required autofocus>
          <br> <br>

          <br />
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign UP</button>
      </div>
    </form>
</body>
</html>
