<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 ltie8 ltie9" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ltie9" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Order chef</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Courgette%3Aregular&amp;subset=latin%2Clatin-ext&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif%3Aregular%2Citalic%2C700%2C700italic&amp;subset=latin&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee%3Aregular%2Citalic&amp;subset=latin&amp;ver=b85dc0fb3d1e6e1da870c45887969c19' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dancing+Script:regular|Courgette:regular' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/superfish/css/superfish.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/dl-menu/component.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/font-awesome-new/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/fancybox/jquery.fancybox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/flexslider/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/style-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/style-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/plugins/masterslider/public/assets/css/masterslider.main.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/master-custom.css' type='text/css' media='all' />

</head>
<br>
<br>
<br>
<br>
<br>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<form [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <div class="form-group">
        <label for="username" style="padding-bottom: 10px">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
  <br>
    <div class="form-group">
        <label for="password" style="padding-bottom: 10px">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
  <br>
  <br>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/signup" class="btn btn-link" style="padding-left: 15px">Sign up</a>
    </div>
  <br>
  <br>
  <br>
  <br>
</form>
 <footer class="footer-wrapper">
            <div class="footer-container container">
                <div class="footer-column three columns" id="footer-widget-1">
                    <div id="text-5" class="widget widget_text gdlr-item gdlr-widget">
                        <h3 class="gdlr-widget-title">About Us</h3>
                        <div class="clear"></div>
                        <div class="textwidget" style="color: white">Budapest, 1085  Knightsbri, Budapest

                            <div class="clear"></div>
                            <div class="gdlr-space" style="margin-top: 13px;"></div>

                            +36-30-3544-7658
                            <div class="clear"></div>
                            <div class="gdlr-space" style="margin-top: 13px;"></div>

                             order-chef@orderchef.com

                            <div class="clear"></div>
                            <div class="gdlr-space" style="margin-top: 13px;"></div>

                            http://orderchef.com</div>
                    </div>
                </div>
                <div class="footer-column six columns" id="footer-widget-3">
                    <div id="text-10" class="widget widget_text gdlr-item gdlr-widget">
<!--                        <h3 class="gdlr-widget-title">Award Winning</h3>-->
                        <div class="clear"></div>
                        <div class="textwidget" style="color: white">
                            <div class="clear"></div>
                            <div class="gdlr-space" style="margin-top: 15px;"></div>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus.
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="copyright-wrapper">
                <div class="copyright-container container">
                    <div class="copyright-right" style="color: white">
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </footer>

    <!-- body-wrapper -->

    <script type='text/javascript' src='assets/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='assets/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='assets/plugins/superfish/js/superfish.js'></script>
    <script type='text/javascript' src='assets/js/hoverIntent.min.js'></script>
    <script type='text/javascript' src='assets/plugins/dl-menu/modernizr.custom.js'></script>
    <script type='text/javascript' src='assets/plugins/dl-menu/jquery.dlmenu.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery.easing.js'></script>
    <script type='text/javascript' src='assets/plugins/fancybox/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='assets/plugins/fancybox/helpers/jquery.fancybox-media.js'></script>
    <script type='text/javascript' src='assets/plugins/fancybox/helpers/jquery.fancybox-thumbs.js'></script>
    <script type='text/javascript' src='assets/plugins/flexslider/jquery.flexslider.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery.isotope.min.js'></script>
    <script type='text/javascript' src='assets/js/assets/plugins.min.js'></script>
    <script type='text/javascript' src='assets/plugins/masterslider/public/assets/js/masterslider.min.js'></script>
    <script type='text/javascript' src='assets/plugins/jquery.transit.min.js'></script>
    <script type='text/javascript' src='assets/plugins/gdlr-portfolio/gdlr-portfolio-script.js'></script>
    <script type="text/javascript" src="assets/plugins/quform/js/assets/plugins.js"></script>
    <script type="text/javascript" src="assets/plugins/quform/js/scripts.js"></script>

</html>
