<h2>Our Team</h2>

<div class="row">
  <div class="column">
    <img src="../../assets/imgs/naif.jpg" alt="naif" style="width:200px;height: 200px">
	    <p>Frontend Developer</p>
  </div>
  <div class="column">
    <img src="../../assets/imgs/naila.jpg" alt="naila" style="width:200px;height: 200px">
	    <p>Frontend Developer</p>
  </div>
  <div class="column">
    <img src="../../assets/imgs/sarmad.jpg" alt="sarmad" style="width:200px;height: 200px">
	    <p>Solution Analyst</p>
  </div>
    <div class="column">
    <img src="../../assets/imgs/ibrahim.jpg" alt="ibrahim" style="width:200px;height: 200px">
	    <p>Backend Developer</p>
  </div>

</div>
