<form #f="ngForm" (ngSubmit)="userSearch(ingredientsFormArray)">
<h4>Categories</h4>
  <table>
<div class="form-check" *ngFor="let ing of ingredientsArr">

    <tr>
    <td><input class="form-check-input" (change)="onChange(ing.name, $event.target.checked)" name="{{ ing.name }}" type="checkbox" id="{{ing.name}}"> </td>
  <td><label class="form-check-label" for="{{ing.name}}">
        {{ing.name}}
    </label></td>
    </tr>

</div>
  </table>
<div><button type="submit">search</button></div>


</form>
